<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>掲示板</title>
        
         <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <nav>
            <div>
                <div>
                    <!--<a href="/">掲示板アプリ</a>-->
                </div>
                <ul>
                    <% if false %>
                    <% if !current_user.nil? %>
                        <li>こんにちは、<%= current_user.name %>さん</li>
                        <li><a href="/signout">ログアウト</a></li>
                   
                    <% end %>
                    <% end %>
                </ul>
            </div>
        </nav>
        <%= yield %>
    </body>
</html>