 <link rel="stylesheet" href="../style.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">-->

<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
<div>
    <form action="/signin" method="post">
        <div>
            <div class="login">
                <h1>LOGIN</h1>
                <div class="choice">
                    <input name="mail" placeholder="MAIL" required class="choice"><br>
                    <input name="name" placeholder="NICKNAME" required class="choice"><br>
                    <input name="password" type="password" placeholder="PASSWORD" required class="choice"><br>
                </div>
                <div>
                    <input type="submit" value="GO" class="choice">
                </div>
                <div>
                    <a href="/signup" class="up">Sign Up</a>
                </div>
            </div>
        </div>
    </form>
</div>