<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
<div>
   <form action="/subjects" method="post">
</div>
<div class="select">
    <h1>Select</h1>
</div>
<div class="subject-choice">
    <div>
        <details>
        <summary>こくご</summary>
        <ul> <a href="/board?id=1">現代の国語</a></ul>
        <ul> <a href="/board?id=2">言語文化</a></ul>
        </details>
    </div>
    <div>
        <details>
        <summary>すうがく</summary>
        <ul> <a href="/board?id=3">数学1</a></ul>
        <ul> <a href="/board?id=4">数学A</a></ul>
        <ul> <a href="/board?id=5">数学2</a></ul>
        <ul> <a href="/board?id=6">数学B</a></a></ul>
        </details>
    </div>
    <div>
        <details>
        <summary>りか</summary>
        <ul> <a href="/board?id=7">化学</a></ul>
        <ul> <a href="/board?id=8">生物</a></ul>
        <ul> <a href="/board?id=9">物理</a></ul>
        </details>
    </div>
    <div>
        <details>
        <summary>しゃかい</summary>
        <ul> <a href="/board?id=10">歴史総合</a></ul>
        <ul> <a href="/board?id=11">地理総合</a></ul>
        </details>
    </div>
    <div>
        <details>
        <summary>えいご</summary>
        <ul> <a href="/board?id=12">コミュニケーション</a></ul>
        <ul> <a href="/board?id=13">論理・表現</a></ul>
        <ul> <a href="/board?id=14">オーラル</a></ul>
        </details>
    </div>
    <div>
        <details>
        <summary>ふくきょうか</summary>
        <ul> <a href="/board?id=15">保健・体育</a></ul>
        <ul> <a href="/board?id=16">情報</a></ul>
        </details>
    </div>
 </div>